// SWAMI KARUPPASWAMI THUNNAI

.platinum-linear-bg-vg
{
    background: #A88CFB;
    background: -webkit-linear-gradient(top left, #A88CFB, #079262, 100%);
    background: -moz-linear-gradient(top left, #A88CFB, #079262, 100%);
    background: linear-gradient(to bottom right, #A88CFB, #079262, 100%);
}

.platinum-linear-bg-lb
{
    background: #5929EA;
    background: -webkit-linear-gradient(top left, #5929EA, #5A88DF, 100%);
    background: -moz-linear-gradient(top left, #5929EA, #5A88DF, 100%);
    background: linear-gradient(to bottom right, #5929EA, #5A88DF, 100%);
}