// SWAMI KARUPPASWAMI THUNNAI

// Width 100%
.platinum-full-width {
    width: 100%;
}

// Width 20%
.platinum-width-20 {
    width: 20%;
}

// Width 30%
.platinum-width-30 {
    width: 30%;
}

// Width 50%
.platinum-width-50 {
    width: 50%;
}

// Height 100%
.platinum-full-height {
    height: 100%;
}

// Padding 5px
.platinum-pd5 {
    padding: 5px;
}

// Padding 10px
.platinum-pd0 {
    padding: 10px;
}

// Padding 15px
.platinum-pd15 {
    padding: 15px;
}

// Padding 20px
.platinum-pd20 {
    padding: 20px;
}

// Margin 5px
.platinum-mr-5 {
    margin: 5px;
}

// Margin 10px
.platinum-mr-10 {
    margin: 10px;
}

// Margin 15px
.platinum-mr-15 {
    margin: 15px;
}

// Margin 20px
.platinum-mr-20 {
    margin: 20px;
}
