// SWAMI KARUPPASWAMI THUNNAI

$default-primary: #2196f3;
$default-secondary: #9e9e9e;
$default-warning: #ff9800;
$default-error: #f44336;
$default-dark:#212121;
$default-success: #4caf50;
$default-primary-selected: #0288d1;
$default-secondary-selected: #757575;
$default-warning-selected: #f57c00;
$default-error-selected: #d32f2f;
$default-success-selected: #388e3c;