// SWAMI KARUPPASWAMI THUNNAI

@use "platinum-color";

%platinum-btn {
    background-color: transparent;
    padding: 8px;
    color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: medium;
    cursor: pointer;
}

.platinum-btn-primary{
    @extend %platinum-btn;
    border-color: platinum-color.$default-primary;
    background-color: platinum-color.$default-primary;
}

.platinum-btn-primary:hover{
    background-color: platinum-color.$default-primary-selected;
}

.platinum-btn-secondary{
    @extend %platinum-btn;
    border-color: platinum-color.$default-secondary;
    background-color: platinum-color.$default-secondary;
}

.platinum-btn-secondary:hover{
    background-color: platinum-color.$default-secondary-selected;
}

.platinum-btn-warning{
    @extend %platinum-btn;
    border-color: platinum-color.$default-warning;
    background-color: platinum-color.$default-warning;
}

.platinum-btn-warning:hover{
    background-color: platinum-color.$default-warning-selected;
}

.platinum-btn-error{
    @extend %platinum-btn;
    border-color: platinum-color.$default-error;
    background-color: platinum-color.$default-error;
}

.platinum-btn-error:hover{
    background-color: platinum-color.$default-error-selected;
}

.platinum-btn-success{
    @extend %platinum-btn;
    border-color: platinum-color.$default-success;
    background-color: platinum-color.$default-success;
}

.platinum-btn-success:hover{
    background-color: platinum-color.$default-success-selected;
}